{% extends "base.html" %}

{% block title %}Hojas de estilo{% endblock%}

{% block body %}

<h1>Pagina de prueba</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, repellendus earum unde nulla, impedit animi at quos velit aliquam tenetur quam vero eos, debitis minus dignissimos in. Quos, deserunt recusandae?</p>
<br>
<ol>
    <li>asd</li>
    <li>asfdg</li>
    <li>dsfg</li>
    <li>dsfg</li>
    <li>jhjh</li>
    <li>j</li>
    <li>hj</li>
    <li>f</li>
    <li>ghfj</li>
    <li>fghj</li>
</ol>

{% endblock%}