<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba de aplicacion</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/indice.css') }}">

</head>
<body>
    <h1>Titulo de esta pagina</h1>
    <p>Este es un parrafo de prueba</p>

    {% include "errores.html" %}

    {% if current_user.is_authenticated %}
        {{ current_user.nombre }}
        {{ current_user.rut }}

        <button type="button">Ir a mi perfil</button>
        <a href="{{ url_for('autenticacion.cerrar_sesion') }}" >Cerrar sesion</a>
    {% else %}

        <a href="{{ url_for('autenticacion.iniciar_sesion') }}" >Iniciar sesion</a>

    {% endif %}
    

    <br>

    <h2>Titulo 2</h2>

    <img src="{{ url_for('static',filename='imagenes/bosque.jpg')}}" alt="">

    <script src="{{ url_for('static', filename='indice.js')}}"></script>
</body>
</html>